ICBS.OfficialFile.MVC/ICBS.OfficialFile.BLL/Connected Services/OfficialFileServiceReference/OfficialFileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64858/OfficialFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:64858/OfficialFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" />
  <xs:element name="CreatCacheFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q1:guid" />
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatCacheFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatCacheFileContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="fileData" nillable="true" type="q2:OfficialFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatFileContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="fileData" nillable="true" type="q3:OfficialFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditeFileContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFileContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="GetAllFileContentResult" nillable="true" type="q4:ArrayOfOfficialFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="GetAttachmentResult" nillable="true" type="q5:OfficialFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFileContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatFileAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="fileData" nillable="true" type="q7:AccessFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatFileAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatFileAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeFileAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="fileData" nillable="true" type="q8:AccessFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditeFileAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditeFileAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFileAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ICBS.OfficialFile.WCFDAL.Models" minOccurs="0" name="GetAllFileAccessResult" nillable="true" type="q9:ArrayOfAccessFileContentModelSVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serial" type="q10:guid" />
        <xs:element minOccurs="0" name="length" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileContentResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>